<div class="header-container" *ngIf="isContentVisible">
  <app-header-leftbar></app-header-leftbar>
  <div class="logo-container ">
    <img ngSrc="assets/images/header/Flyers_Logotype_Stacked_2color_ondark.png" width="150" height="50" alt="Logo" class="logo">
  </div>
  <div class="search-container">
    <svg class="theme-icon"><use href="assets/icons/icons.svg#icon-user"></use></svg>
    <svg class="theme-icon"><use href="assets/icons/icons.svg#icon-search"></use></svg>
    <svg class="theme-icon"><use href="assets/icons/icons.svg#icon-cart"></use></svg>
  </div>
</div>


