<div class="header-container" >
  <div class="panel" *ngIf="!isSearch">
    <app-header-leftbar></app-header-leftbar>
    <div class="logo-container ">
      <img ngSrc="assets/images/header/Flyers_Logotype_Stacked_2color_ondark.png" width="150" height="50" alt="Logo" class="logo">
    </div>
    <div class="right-container">
      <svg class="theme-icon"><use href="assets/icons/icons.svg#icon-user"></use></svg>
      <svg class="theme-icon" (click)="searchClick()"><use href="assets/icons/icons.svg#icon-search"></use></svg>
      <svg class="theme-icon"><use href="assets/icons/icons.svg#icon-cart"></use></svg>
    </div>
  </div>
  <div class="search-container" *ngIf="isSearch">
    <div class="search-form">
      <svg class="theme-icon searching"><use href="assets/icons/icons.svg#icon-search"></use></svg>
      <input type="text" class="search-input" placeholder="Search..." >
    </div>
    <svg class="theme-icon" (click)="leaveSearch()"><use href="assets/icons/icons.svg#icon-close"></use></svg>
  </div>
</div>


