.header-container {
  position: sticky; /* Makes the header stick to the top */
  top: 0; /* Sticks the header to the top of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid blueviolet;
  height: 40px;
}
.logo-container {
  margin-left: 1rem;
  margin-top:1rem;
  margin-right: 1rem;
  justify-content: center; /* Center the logo horizontally */
  align-items: center; /* Center the logo vertically */
  cursor: pointer;
}
.theme-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-right: 10px;
}

