<div class="header-container" >
  <div class="header-panel" [class.hidden]="isSearch">
    <app-header-leftbar></app-header-leftbar>
    <div class="logo-container">
      <img ngSrc="assets/images/header/Flyers_Logotype_Stacked_2color_ondark.png" fill alt="Logo" class="logo" priority>
    </div>
    <div class="right-container">
      <button class="no-inherit">
        <svg class="theme-icon user"><use href="assets/icons/icons.svg#icon-user"></use></svg>
      </button>
      <button class="no-inherit">
        <svg class="theme-icon" (click)="toggleSearch()"><use href="assets/icons/icons.svg#icon-search"></use></svg>
      </button>
      <button class="no-inherit">
        <svg class="theme-icon" (click)="toggleCart()"><use href="assets/icons/icons.svg#icon-cart"></use></svg>
      </button>
    </div>
  </div>
  @if (isSearch){
    <div class="search-container">
      <div class="search-form">
        <svg class="theme-icon searching"><use href="assets/icons/icons.svg#icon-search"></use></svg>
        <input type="text" class="search-input" placeholder="Search..." >
      </div>
      <svg class="theme-icon" (click)="toggleSearch()"><use href="assets/icons/icons.svg#icon-close"></use></svg>
    </div>
  }
  <div class="cart-panel" [ngClass]="{'open': isCartOpen, 'animation':animation}">
    <div class="cart-content">
      <h4>Your Cart</h4>
      <svg class="theme-icon close-btn" (click)="toggleCart()">
        <use href="assets/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
    <div class="cart-items">
      <p>Your cart is currently empty.</p>
    </div>
  </div>
  <!-- Sliding Panel -->
  <div class="backdrop" [ngClass]="{'open': showBackdrop}" (click)="toggleCart()"></div>
</div>



