<div class="user-comment-block-container">
  <div class="user-comment-block-stars">
    <div class="merchandise-stars">
      <i class="fa-sharp fa-solid fa-star"></i>
      <i class="fa-sharp fa-solid fa-star"></i>
      <i class="fa-sharp fa-solid fa-star"></i>
      <i class="fa-sharp fa-solid fa-star"></i>
      <i class="fa-sharp fa-solid fa-star"></i>
    </div>
  </div>
  <div class="user-comment-block-comment">
    <p>{{comment}}</p>
  </div>
  <div class="user-comment-block-user">
    <p>{{user}}</p>
  </div>
</div>
