.item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  width: 100%; /* Ensure the container takes up full width */
  aspect-ratio: 790/921;
  box-sizing: border-box;

}
.feature-item-img{
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 1.5rem;
}
img{
  object-fit: contain;
  border-radius: 5px;
}
p{
  display: inline-block;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  height: 3.6rem;
  padding: 13px 18px;
  p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    word-spacing: -5px;
    color: black;
    font-weight: bold;
  }
}
