.item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  width: 100%; /* Ensure the container takes up full width */
  aspect-ratio: 790/921;
  box-sizing: border-box;


}
.feature-item-img{
  position: relative;
  width: 100%;
  aspect-ratio: 1;

}
img{
  object-fit: contain;
  border-radius: 5px;
}
p{
  text-align: center;
  color: white;
}
.banner-btn{
  white-space: nowrap;
}
