/* Ensure the container takes the full viewport */
.banner-container {
  position: relative;
  width:100vw;
  height:auto;
  aspect-ratio: 905/1067;
  overflow: hidden;
  margin: 0 auto;
}

/* Styles for the responsive image */
.image-and-sticker img.responsive-banner {
  position: absolute;
  width: 100%; /* Ensure it stretches across the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Avoid cropping or distortion */
  object-position: top;
  z-index: 1; /* Stack it properly if needed */
}

@media (min-width: 1000px) {
  .banner-container {
    aspect-ratio: 2000/839;
  }
}
.image-and-sticker img.sticker {
  position: absolute;
  top: 5%; /* Adjust to your preference */
  right: 0; /* Adjust to your preference */
  width: 250px;
  height: auto;
  z-index: 1; /* Make sure sticker is on top */
}

/*!* Style the button *!*/
.button-container{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Ensure it's on top of the image */
}
