.merchandise-list-container{
  position: relative;
  width: 100%;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
}

.merchandise-list.list{
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem; /* Optional spacing */
  box-sizing: border-box;
  padding-top: 3rem;
}
@media (min-width: 960px) {
  .merchandise-list-container{
    padding: 4.5rem 3rem;
  }
  .merchandise-list.list{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem
  }
}
app-merchandise-item {
  box-sizing: border-box;
  border: 1px solid sandybrown;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}
.merchandise-list.title{
  text-align: center;
}
p{
  margin: 1.5rem auto 0;
  font-size: 2.5rem;
}
.subtitle{
  font-size: 1.2rem;
  color: white;
  margin: 1.5rem auto 0;
  width: 33.6rem;
}
