.merchandise-list-container{
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

.merchandise-list.list{
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem; /* Optional spacing */
  box-sizing: border-box;
  padding-top: 1rem;
}
@media (min-width: 960px) {
  .merchandise-list.list{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
app-merchandise-item {
  box-sizing: border-box;
  border: 1px solid sandybrown;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}
.merchandise-list.title{
  text-align: center;
}
h1, h2{
  color: white;
}
