.merchandise-list-container{
  position: relative;
  width: 100vw;
  border: 1px red solid;
}

.merchandise-list.list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100vw;
  box-sizing: border-box;
  padding: 0.5rem;
}
@media (min-width: 60rem) {
  .merchandise-list.list{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
app-merchandise-item {
  box-sizing: border-box;
  border: 1px solid gold;
  padding: 1rem;
  text-align: center;
  margin :1rem;
}
.merchandise-list.title{
  text-align: center;
}
h1, h2{
  color: white;
}
