<div class="merchandise-list-container">
  <div class="merchandise-list title">
    <h1>UPLIFT YOUR DRINKING RITUAL</h1>
    <div class="subtitle">Relax with alcohol-free cocktails enhanced with 5MG of Hemp THC.</div>
  </div>
  <div class="merchandise-list list">
    @for (item of items; track item.name){
      <app-merchandise-item
        [name] = "item.name"
        [url] = "dir_path + item.filename"
        [urlOnHover] = "dir_path + item.filenameOnHover"
        [reviews] = "item.review"
        [price] = "item.price">
      </app-merchandise-item>
    }
  </div>
</div>
