<div class="footer-container">
  <div class="footer-logo-section">
    <img class="logo" [ngSrc]="imgSrc" alt="logo" fill >
  </div>
  <div class="footer-content-section">
    <div class="content-link-list">
      <ul>
          <li>
            <a href="#">
              Privacy Policy
            </a>
          </li>

          <li>
            <a href="#">
              Shipping &amp; Returns
            </a>
          </li>
          <li>
            <a href="#">
              FDA Disclaimer
            </a>
          </li>

          <li>
            <a href="#">
              Terms &amp; Conditions
            </a>
          </li>

          <li>
            <a href="#">
              COA
            </a>
          </li>

        </ul>

      <ul>
        <li>
          <a href="#">
            SHOP ALL
          </a>
        </li>

        <li>
          <a href="#">
            FAQ
          </a>
        </li>

        <li>
          <a href="#">
            CONTACT
          </a>
        </li>

        <li>
          <a href="#">
            REVIEWS
          </a>
        </li>

      </ul>
    </div>
    <div class="subscribe-section">
      <h2 class="title">{{"sign up & save" | uppercase}}</h2>
      <input type="text" class="search-input" placeholder="example@example.com" >
      <button>Subscribe</button>
    </div>
    <div class="social-medias-section">
      <h5>STAY AWHILE &#64;DRINKFLYERS</h5>
      <div class="social-medias-wrapper">
        <ul class="social-medias">
          <li>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
              <svg class="tiktok"><use href="assets/icons/icons.svg#icon-tiktok"></use></svg>
            </a>
          </li>
          <li>
            <a href="https://youtube.com" target="_blank" aria-label="YouTube">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-partner-section"></div>
</div>
