.footer-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 55rem;
  width: 95vw;
  margin: 0 auto;
  border: red 1px solid;
}

.footer-container > * {
  /* Styles for immediate children of .footer-container */
  border: darkgoldenrod 1px solid;
}

.footer-logo-section{
  position: relative;
  height: 10%; /* This can be adjusted if needed */
  width: 90px;
  padding: 0; /* Ensure no padding is affecting layout */
  margin: 0 auto;
  display: inline-block;
  img{
    object-fit: contain;
    cursor: pointer;
  }
}
.footer-content-section{
  height: 70%;
  .content-link-list{
    height: 35%;
    border: green 1px solid;
    display: flex;
  }
  .subscribe-section{
    height: 35%;
    border: green 1px solid;
  }
  .social-medias-section{
    height: 30%;
    border: green 1px solid;
  }
}

.footer-partner-section{
  height: 20%;
}
ul {
  display: flex; /* This makes the <ul> a flex container */
  flex:1;
  flex-direction: column; /* Aligns <li> items vertically (column direction) */
  padding: 0; /* Optional: Remove default padding from <ul> */
  margin: 0; /* Optional: Remove default margin from <ul> */
}

li {
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-align: left; /* Ensures text in <a> is left-aligned */
  list-style-type: none; /* Optional: Removes the default bullet points */
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: darkgoldenrod;
  cursor: pointer;
}
