.partner-container{
  position: relative;

  width: 100%;
  box-sizing: border-box;
  padding: 1.2rem 1.5rem;
}
.partner-list {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 80%;
  width: 100%;
  flex-wrap: wrap;
}
.image-wrapper{
  position: relative;
  width: 12rem;
  margin: 1.2rem 1.5rem 0;
}
.image-wrapper#RollingStones{
  height: 39px;
}
.image-wrapper#Forbes{
  height: 65px;
}
.image-wrapper#InsideHook{
  height: 39px;
}
.image-wrapper#Bloomberg{
  height: 42px;
}
.image-wrapper#Gotham{
  height: 61px;
}
img {
  object-fit: contain;
}

h1{
  position: relative;
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}
@media (min-width: 990px) {
  .partner-container{
    padding: 3rem 3rem;
  }
  h1{
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
  }
  .image-wrapper{
    margin: 2rem ;
  }
}

