.partner-container{
  position: relative;
  height: 27.3rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1.2rem 1.5rem;
}
.partner-list {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: space-around;
  height: 80%;
  width: 100%;
  flex-wrap: wrap;
}
.image-wrapper{
  position: relative;
  height: 15%;
  width: 12rem;
  margin: 1.2rem 1.5rem 0;
}
img {
  object-fit: contain;
}
/*@media (min-width: 509px) {*/
/*  .image-wrapper {*/
/*    width: 50%;*/
/*  }*/
/*}*/
/*@media (min-width: 720px) {*/
/*  .partner-container{*/
/*    height: 20rem;*/
/*  }*/
/*  .partner-list {*/
/*    height: 80%;*/
/*  }*/
/*  .image-wrapper {*/
/*    height: 30%;*/
/*    width: 30%;*/
/*  }*/

/*}*/
/*@media (min-width: 944px) {*/
/*  .image-wrapper {*/
/*    width: 23%;*/
/*  }*/
/*}*/
/*@media (min-width: 990px) {*/
/*  .image-wrapper {*/
/*    height: 40%;*/
/*    width: 18%;*/
/*  }*/
/*}*/
h1{
  position: relative;
  font-size: 2rem;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}
