.product-feature-banner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  aspect-ratio: 1;
  width: 100%;
  padding: 1.2rem 1.5rem;
  box-sizing: border-box;
}

.image-wrapper {
  position: relative;
  height: 70%;
  width: 100%;
}
img {
  object-fit: contain;
}
@media (min-width: 990px) {
  .product-feature-banner-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 2.4rem 3rem;
    height:80vh;
  }
  .image-wrapper {
    height: 100%;
    box-sizing: border-box;
  }
}
