<div class="left-bar">
  <button class="no-inherit">
    <svg class="theme-icon" width="27" height="27" (click)="toggleSidebar()">
      <use href="assets/icons/icons.svg#icon-menu"></use>
    </svg>
  </button>
</div>

<div class="backdrop" [ngClass]="{'open': showBackdrop}" (click)="toggleSidebar()"></div>
<div class="left-bar-panel" [ngClass]="{'open': isOpen, 'animation':animation}">

  <svg class="theme-icon close-btn" id="left-bar-btn" (click)="toggleSidebar()">
    <use href="assets/icons/icons.svg#icon-close"></use>
  </svg>

  <ul class="links">
    <li><a href="#"><span>SHOP ALL </span></a></li>
    <li><a href="#"><span>FAQ</span></a></li>
    <li><a href="#"><span>CONTACTS</span></a></li>
    <li><a href="#"><span>REVIEWS</span></a></li>
  </ul>

  <div class="links account">
    <a href="#"><span>Log in</span></a>
    <a href="#"><span>Create account</span></a>
  </div>
  <form class="search-form">
    <input type="search" placeholder="Search">
    <button class="no-inherit">
    <svg class="theme-icon searching"><use href="assets/icons/icons.svg#icon-search"></use></svg>
    </button>
  </form>

  <ul class="social-medias">
    <li>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <svg class="tiktok"><use href="assets/icons/icons.svg#icon-tiktok"></use></svg>
      </a>
    </li>
    <li>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </ul>

</div>
