.left-bar{
  margin-left:1.5rem;
  cursor: pointer;
}

.left-bar-panel {
  position: fixed;
  top: 0;
  left: -80%; /* Start off-screen on the right */
  width: 80%; /* Takes up half the screen */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  transition: left 0.5s ease-in-out; /* Slide-in transition */
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.left-bar-panel.open {
  left: 0; /* Slide in the panel */
}

.backdrop {
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); /* Fully transparent */
  z-index: 2; /* Below the cart panel but above everything else */
  pointer-events: all; /* Capture all clicks to disable interaction */
}
/* links */
ul.links {
  font-size: 15px;
  padding-left: 1rem;
}
.links.account {
  display: flex; /* Align items in a row */
  flex-direction: column;
  gap: 0.5rem; /* Adds space between the links */
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.search-form {
  display: flex; /* Use flex to align input and svg */
  align-items: flex-start;
  position: relative;
  padding-left: 2rem;
}

.search-form input {
  padding-right: 2rem; /* Give space for the icon */
  width: 80%; /* Make the input take up the available width */
  z-index: 1;
}

.search-form .theme-icon.searching {
  z-index: 2; /* Ensure the icon is above the input */
}
.social-medias{
  display: flex;
  padding-left: 2rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  ul.links {
    font-size: 20px;
    padding-left: 2rem;
  }
  .links.account {
    padding-left: 2rem;
  }
  .left-bar-panel {
    width: 40%;
    left: 40%;
  }
}

/* some components*/
.theme-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#left-bar-btn{
  padding-top: 20px;
  padding-left: 20px;
}


.tiktok{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
.links a{
  text-decoration: none;
  color: white;
}

.social-medias li a{
  color: white;
}
