app-root {
  padding-top: 0;
  background-color: pink;
  display: block;
  height: 100vh; /* Full height of the viewport */
}/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}
