.secondary-hero-banner-container{
  position: relative;
  aspect-ratio: 1;
  width: 95vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*border: red 1px solid;*/
}
.secondary-hero-banner{
  position: relative;
  height: 90%;
  width: 100%;
  margin: 1rem 0;
}

.functional-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.functional-section h1{
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
  color: white;
}
@media (min-width: 1000px) {
  .secondary-hero-banner-container{
    flex-direction: row;
    margin: 2rem auto;
    height: 40rem;
  }
  .secondary-hero-banner{
    margin: 0;
    width: 50%;
    /*border: red 1px solid;*/
  }
  .functional-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
  }
  .functional-section h1{
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 3rem;
    /*border: red 1px solid;*/
    width: 100%;
    text-align: center;
    color: white;
  }
}

img{
  object-fit: contain;
}
/*.secondary-hero-banner-container{*/
/*  position: relative;*/
/*  height: 25rem;*/
/*  width: 95vw;*/
/*  margin: 3rem auto;*/
/*  display: flex;*/
/*}*/
/*.secondary-hero-banner{*/
/*  position: relative;*/
/*  height: 100%;*/
/*  width: 55%;*/
/*  !*border: red 1px solid;*!*/
/*}*/
/*.functional-section{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*  width: 45%;*/
/*}*/
/*.functional-section h1{*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-size: 3rem;*/
/*  line-height: 1.2; !* Remove extra spacing between lines *!*/
/*  !*border: red 1px solid;*!*/
/*  width: 100%;*/
/*  text-align: center;*/
/*  color: white;*/
/*}*/

